table {
  width: 100%;
}
td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
  padding-left: 0;
  padding-right: 24px;
}
th.mat-header-cell {
  text-align: inherit;
}
img {
  width: 100px;
}
.mat-raised-button {
  top: 50%;
  transform: translateY(-50%);
}
.mat-form-field {
  width: 100%;
}
td.mat-cell {
  width: 100px;

  div {
    height: 48px;
    line-height: 48px;
    overflow: hidden;
  }
}
.green-icon {
  color: #7ed321;
}
